<div class="phone"> <span class = "desktopview">Click here to Call now!!!</span> <a href="tel:208-852-2680">208-852-2680</a></div>
<div class ="float-parent">
    <div class="float-child"><img class="logo" src="../assets/logo.png" alt = "logo"></div>
    <div class="float-child nav-bar"> 
            <ul id="nav">
                <li><a href="../index/index.html">Home</a></li>
                <li><a href="#news">Attorneys</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="../Login/index.html">Login</a></li>
            </ul>
    </div>
</div>
<h1>Fuller & Fuller, PLLC</h1>