body{
    background-color: whitesmoke;
    color: rgb(43, 42, 42);
}
.flexContainer{
    display:flex;
    flex-direction: column;
    grid-template-columns: auto auto auto;
    border: black;
}
.subFlexContainer{
    border: 5px solid black;
    display:flex;
}

@media screen and (min-width: 600px) {
    
}